;; this file is added only to develop Babashka scripts
;; in typical Clojure environment I use: Cursive + regular nREPL
{:paths ["src"]
 :deps  {org.clojure/clojure {:mvn/version "1.10.2"}
         metosin/malli       {:mvn/version "0.8.4"}}}
